*{
    margin: 20px;
    text-align: center;
    margin-top: 5%;
}
body{
    background-image: url(360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
table{
    
    opacity: 0.8;
}


